<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Price View</title>
    <link rel="stylesheet" href="~/StyleSheet.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css">
</head>
<body>

    <div class="container">

        <div id="top-bar-div" class="flex">

            <div class="app-title">
                <i class="bi bi-graph-up-arrow"></i> Stocks
            </div>

            <div id="search-box-div" class="flex-1">
                <input type="text" class="search-text" placeholder="Search Stocks" />
                <a href="/Settings" class="text-grey" title="Settings" style="margin-right:10px;">
                    <i class="bi bi-gear-fill"></i>
                </a>
                <a asp-controller="Auth" asp-action="Login" class="button button-blue-back login-button">Login</a>
            </div>

        </div>
        @{
            var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
        }

        <nav class="navbar">
            <ul>
                <li>
                    <a asp-controller="Trade" asp-action="Index"
                       class="@(currentAction == "Index" ? "nav-active" : "")">Trade</a>
                </li>
                <li>
                    <a asp-controller="Trade" asp-action="Orders"
                       class="@(currentAction == "Orders" ? "nav-active" : "")">Orders</a>
                </li>
            </ul>
        </nav>

        <div class="page-content">
            @RenderBody()
        </div>

    </div>
    @await Html.PartialAsync("_ValidationScriptsPartial")
</body>
</html>