@model Assignment24_SocialMediaLinks.Options.SocialMediaLinksOptions;

<a href="@Model.Facebook">Facebook</a>
<a href="@Model.Twitter">Twitter</a>
<a href="@Model.Youtube">Youtube</a>


<environment exclude="Development">
    <a href="@Model.Instagram">Instagram</a>
</environment>