@model List<CityWeather>
<div class="flex">
    @foreach (var city in Model)
    {
        string backcolorClass = "";
        if (city.TemperatureFahrenheit < 44)
        {
            backcolorClass = "blue-back";
        }
        else if (city.TemperatureFahrenheit < 74)
        {
            backcolorClass = "green-back";
        }
        else
        {
            backcolorClass = "orange-back";
        }

        <div class="box @backcolorClass flex-borderless" style="padding: 0;">
            <div class="w-50">
                <div style="font-weight: bold; font-size: 1.1em; margin-bottom: 5px;">
                    @city.CityName
                </div>
                <div class="text-dark-grey" style="font-size: 0.85em; margin-bottom: 10px;">
                    @city.DateAndTime
                </div>
                <div>
                    <a href="weather/@city.CityUniqueCode" style="font-size: 0.9em;">Details</a>
                </div>
            </div>

            <div class="w-50 border-left padding-left" style="display: flex; align-items: center;">
                <h1 style="margin: 0;">@city.TemperatureFahrenheit</h1>
                <span class="text-dark-grey" style="font-weight: bold; margin-left: 5px; margin-bottom: 15px;">°F</span>
            </div>
        </div>
    }
</div>
